html {
  font-family: 'Roboto', 'Lato', Arial, sans-serif;
  text-align: center;
  background-color: rgb(10, 68, 129);
}

main {
  max-width: 500px;
  margin: 0 auto;
}

section {
  margin-top: 100px;
  display: grid;
  place-items: center;
  padding: 20px 10px;
  background-color: azure;
  box-shadow: 4px 6px 15px -3px rgba(0,0,0,0.6);
}

h1 {
  font-size: 2rem;
  color: rgb(239, 239, 245);
}

h3 {
  
}

button {
  border: 1px solid rgb(48, 79, 166);
  box-shadow: inset;
}

button:hover {
  background-color: rgb(63, 63, 243);
  color: #fff;
}